/* GENERAL */

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: var(--darkest-bg);
	background: var(--main-bg)
}

:root {
	--lights: white;
	--main-bg: #bcc7f0;
	--darker-bg: #6885ce;
	--darkest-bg: #1f315f;
}

body, div, html {
	margin: 0
}

body, html, #app, main {
	height: 100%
}

#app {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

	#app > svg {
		width: 100px;
		height: 100px;
	}

*, *:focus, *:hover {
	outline: none;
}

main {
	position: relative;
	background-color: var(--main-bg);
	display: flex;
	flex-direction: column;
}

button, input[type=submit], input[type=file] {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	background: var(--darkest-bg);
	color: var(--lights);
	padding: 7px 14px;
	border: 0;
	cursor: pointer;
	border-radius: 7px;
	transition: background ease 0.1s
}

	button:hover, input[type=submit]:hover {
		background: var(--darker-bg)
	}

input[type=text], input[type=password] {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	background: var(--lights);
	color: var(--darker-bg);
	padding: 7px 14px;
	border: 2px solid var(--darker-bg);
	border-radius: 7px;
	transition: border ease 0.1s
}

	input[type=text]:focus, input[type=password]:focus {
		color: var(--darkest-bg);
		border: 2px solid var(--darkest-bg);
	}

::placeholder {
	color: var(--darker-bg);
}


/* NAVBAR */


.topbar {
	background: var(--darkest-bg);
	height: 3.5em;
	display: inline-block;
	width: 100%;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.04);
	position: relative;
	text-align: right;
	flex-grow: 0;
	overflow: hidden;
	transition: height ease 0.2s;
}

	.topbar.collapse {
		height: 0;
	}

.nav-button-container {
	position: absolute;
	z-index: 10;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 17px;
	left: 0;
	top: 0
}

.nav-button-icon {
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	position: relative;
	color: var(--darker-bg);
}

	.nav-button-icon::before {
		display: inline-block;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f0c9";
		opacity: 1;
		transition: all ease-in-out 0.3s;
	}

	.nav-button-icon::after {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f00d";
		opacity: 0;
		transition: all ease-in-out 0.3s;
	}


.collapse .nav-button-icon::before {
	opacity: 0;
}

.collapse .nav-button-icon::after {
	opacity: 1;
}

.topbar .avatar {
	height: 2em;
	width: 2em;
	border-radius: 100%;
	overflow: hidden;
}

	.topbar .avatar img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

.topbar .top_navbar_inner {
	display: flex;
	justify-content: end;
	width: 100%;
	height: 100%;
	align-items: center;
}


.topbar .user {
	display: flex;
	margin-right: 13px;
}

.topbar .user_info {
	padding-right: 10px;
}

.topbar .username {
	color: var(--lights);
	font-weight: bold;
}

.topbar .elo {
	font-size: 13px;
	color: var(--darker-bg);
}

/* SIDEBAR */
.sidebar {
	position: absolute;
	left: 0;
	background: var(--lights);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	width: 300px;
	max-width: 90%;
	height: 100%;
	transition: transform ease-in-out 0.2s;
	transform: translateX(-100%);
	will-change: transform;
	z-index: 5;
}

.sidebar.collapse {
	transform: translateX(0);
}


/* PANELS */

.panel_window {
	flex-grow: 1;
	overflow: hidden;
	width: 100%;
}

.panel_tape {
	width: 400%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: stretch;
	justify-content: flex-start;
	align-items: stretch;
	transition: margin-left 0.3s ease;
}

.panel {
	width: 25%;
	flex-shrink: 0;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.panel_tape.signup {
	margin-left: 0;
}

.panel_tape.login {
	margin-left: -100%;
}

.panel_tape.home {
	margin-left: -200%;
}

.panel_tape.game {
	margin-left: -300%;
}

/* FORM */
.login .panel > div {
	text-align: center;
}
/* HOME */

.home_panel {
	width: 90%;
	max-width: 600px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.online_users .user {
	height: 2.5em;
	display: flex;
	align-items: center;
	border-bottom: 3px solid var(--darker-bg)
}

.online_users .info {
	flex-grow: 1
}

.online_users .info span {
	display: block;
}

	.online_users .info .username {
		font-weight: bold;
		color: var(--darkest-bg)
	}

	.online_users .info .elo {
		font-size: 13px;
		color: var(--darker-bg);
	}

.online_users .avatar {
	height: 2em;
	width: 2em;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 20px;
}

	.online_users .avatar img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}


/* GAME */
.game_panel {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

	.game_panel .avatar img {
		border-radius: 100%;
		width: 2em;
		height: 2em;
		object-fit: cover;
	}

	.game_panel .player {
		display: flex;
		padding: 10px;
		padding-top: 25px;
	}

		.game_panel .player .user {
			flex-grow: 1;
			padding-left: 9px;
		}

	.game_panel .username {
		font-weight: bold;
	}

	.game_panel .elo {
		font-size: 13px;
		color: var(--darker-bg);
		padding-left: 9px;
	}

	.game_panel .timer {
		display: flex;
		align-items: center;
	}

	.game_panel .timer span {
		background: var(--darker-bg);
		border-radius: 5px;
		padding: 7px 12px;
		font-weight: 500;
		color: var(--lights);
	}
		.game_panel .timer.active span {
			background: var(--darkest-bg);
		}

/* BOARD */

.board {
	position: relative;
}

@media (orientation: landscape) {
	.board {
		width: 70vh;
		height: 70vh;
	}
}

@media (orientation: portrait) {
	.board {
		width: 90vw;
		height: 90vw;
	}
}

	.board > div {
		height: 12.5%;
		width: 100%;
	}

		.board > div > div {
			display: inline-block;
			height: 100%;
			width: 12.5%;
			position: relative
		}

			.board > div > div:first-child::before {
				display: block;
				position: absolute;
				font-weight: bold;
				color: var(--darker-bg);
				top: 34%;
				left: -17px;
			}

			.black > div:nth-child(1) > div:first-child::before,
			.white > div:nth-child(8) > div:first-child::before { content: "1"; }
			.black > div:nth-child(2) > div:first-child::before,
			.white > div:nth-child(7) > div:first-child::before { content: "2"; }
			.black > div:nth-child(3) > div:first-child::before,
			.white > div:nth-child(6) > div:first-child::before { content: "3"; }
			.black > div:nth-child(4) > div:first-child::before,
			.white > div:nth-child(5) > div:first-child::before { content: "4"; }
			.black > div:nth-child(5) > div:first-child::before,
			.white > div:nth-child(4) > div:first-child::before { content: "5"; }
			.black > div:nth-child(6) > div:first-child::before,
			.white > div:nth-child(3) > div:first-child::before { content: "6"; }
			.black > div:nth-child(7) > div:first-child::before,
			.white > div:nth-child(2) > div:first-child::before { content: "7"; }
			.black > div:nth-child(8) > div:first-child::before,
			.white > div:nth-child(1) > div:first-child::before { content: "8"; }

			.board > div:nth-child(8) > div::after {
				display: block;
				position: absolute;
				font-weight: bold;
				color: var(--darker-bg);
				bottom: -19px;
				left: 0;
				width: 100%;
				text-align: center;
			}

			.white > div:nth-child(8) > div:nth-child(1)::after,
			.black > div:nth-child(8) > div:nth-child(8)::after { content: "a"; }
			.white > div:nth-child(8) > div:nth-child(2)::after,
			.black > div:nth-child(8) > div:nth-child(7)::after { content: "b"; }
			.white > div:nth-child(8) > div:nth-child(3)::after,
			.black > div:nth-child(8) > div:nth-child(6)::after { content: "c"; }
			.white > div:nth-child(8) > div:nth-child(4)::after,
			.black > div:nth-child(8) > div:nth-child(5)::after { content: "d"; }
			.white > div:nth-child(8) > div:nth-child(5)::after,
			.black > div:nth-child(8) > div:nth-child(4)::after { content: "e"; }
			.white > div:nth-child(8) > div:nth-child(6)::after,
			.black > div:nth-child(8) > div:nth-child(3)::after { content: "f"; }
			.white > div:nth-child(8) > div:nth-child(7)::after,
			.black > div:nth-child(8) > div:nth-child(2)::after { content: "g"; }
			.white > div:nth-child(8) > div:nth-child(8)::after,
			.black > div:nth-child(8) > div:nth-child(1)::after { content: "h"; }



	.board.white > div:nth-child(odd) > div:nth-child(even), .board.white > div:nth-child(even) > div:nth-child(odd),
	.board.black > div:nth-child(even) > div:nth-child(even), .board.black > div:nth-child(odd) > div:nth-child(odd) {
		background: var(--darker-bg);
		border-radius: 4px;
	}

/* PIECIES */
.board .piece {
	position: absolute;
	width: 12.5%;
	height: 12.5%;
	bottom: 0;
	left: 0;
	will-change: transform;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-size: 60% 60%;
	background-repeat: no-repeat;
	z-index: 7;
	cursor: pointer;
	/* transition: transform 0.1s ease 0.05s; */
}


	.white .a1, .black .h8 { transform: translate(0,0); }
	.white .a2, .black .h7 { transform: translate(0,-100%); }
	.white .a3, .black .h6 { transform: translate(0,-200%); }
	.white .a4, .black .h5 { transform: translate(0,-300%); }
	.white .a5, .black .h4 { transform: translate(0,-400%); }
	.white .a6, .black .h3 { transform: translate(0,-500%); } 
	.white .a7, .black .h2 { transform: translate(0,-600%); }
	.white .a8, .black .h1 { transform: translate(0,-700%); }

	.white .b1, .black .g8 { transform: translate(100%,0); } 
	.white .b2, .black .g7 { transform: translate(100%,-100%); } 
	.white .b3, .black .g6 { transform: translate(100%,-200%); } 
	.white .b4, .black .g5 { transform: translate(100%,-300%); } 
	.white .b5, .black .g4 { transform: translate(100%,-400%); } 
	.white .b6, .black .g3 { transform: translate(100%,-500%); } 
	.white .b7, .black .g2 { transform: translate(100%,-600%); } 
	.white .b8, .black .g1 { transform: translate(100%,-700%); }

	.white .c1, .black .f8 { transform: translate(200%,0); } 
	.white .c2, .black .f7 { transform: translate(200%,-100%); } 
	.white .c3, .black .f6 { transform: translate(200%,-200%); } 
	.white .c4, .black .f5 { transform: translate(200%,-300%); } 
	.white .c5, .black .f4 { transform: translate(200%,-400%); } 
	.white .c6, .black .f3 { transform: translate(200%,-500%); } 
	.white .c7, .black .f2 { transform: translate(200%,-600%); } 
	.white .c8, .black .f1 { transform: translate(200%,-700%); }

	.white .d1, .black .e8 { transform: translate(300%,0); } 
	.white .d2, .black .e7 { transform: translate(300%,-100%); } 
	.white .d3, .black .e6 { transform: translate(300%,-200%); }
	.white .d4, .black .e5 { transform: translate(300%,-300%); } 
	.white .d5, .black .e4 { transform: translate(300%,-400%); } 
	.white .d6, .black .e3 { transform: translate(300%,-500%); } 
	.white .d7, .black .e2 { transform: translate(300%,-600%); } 
	.white .d8, .black .e1 { transform: translate(300%,-700%); }

	.white .e1, .black .d8 { transform: translate(400%,0); } 
	.white .e2, .black .d7 { transform: translate(400%,-100%); } 
	.white .e3, .black .d6 { transform: translate(400%,-200%); } 
	.white .e4, .black .d5 { transform: translate(400%,-300%); } 
	.white .e5, .black .d4 { transform: translate(400%,-400%); } 
	.white .e6, .black .d3 { transform: translate(400%,-500%); } 
	.white .e7, .black .d2 { transform: translate(400%,-600%); } 
	.white .e8, .black .d1 { transform: translate(400%,-700%); }

	.white .f1, .black .c8 { transform: translate(500%,0); } 
	.white .f2, .black .c7 { transform: translate(500%,-100%); } 
	.white .f3, .black .c6 { transform: translate(500%,-200%); } 
	.white .f4, .black .c5 { transform: translate(500%,-300%); } 
	.white .f5, .black .c4 { transform: translate(500%,-400%); } 
	.white .f6, .black .c3 { transform: translate(500%,-500%); } 
	.white .f7, .black .c2 { transform: translate(500%,-600%); } 
	.white .f8, .black .c1 { transform: translate(500%,-700%); } 
	
	.white .g1, .black .b8 { transform: translate(600%,0); } 
	.white .g2, .black .b7 { transform: translate(600%,-100%); } 
	.white .g3, .black .b6 { transform: translate(600%,-200%); } 
	.white .g4, .black .b5 { transform: translate(600%,-300%); } 
	.white .g5, .black .b4 { transform: translate(600%,-400%); } 
	.white .g6, .black .b3 { transform: translate(600%,-500%); } 
	.white .g7, .black .b2 { transform: translate(600%,-600%); } 
	.white .g8, .black .b1 { transform: translate(600%,-700%); } 

	.white .h1, .black .a8 { transform: translate(700%,0); } 
	.white .h2, .black .a7 { transform: translate(700%,-100%); } 
	.white .h3, .black .a6 { transform: translate(700%,-200%); } 
	.white .h4, .black .a5 { transform: translate(700%,-300%); } 
	.white .h5, .black .a4 { transform: translate(700%,-400%); } 
	.white .h6, .black .a3 { transform: translate(700%,-500%); } 
	.white .h7, .black .a2 { transform: translate(700%,-600%); } 
	.white .h8, .black .a1 { transform: translate(700%,-700%); }

	.bp { background-image: url(../chess_icons/bp.svg); }
	.bk { background-image: url(../chess_icons/bk.svg); }
	.bq { background-image: url(../chess_icons/bq.svg); }
	.br { background-image: url(../chess_icons/br.svg); }
	.bb { background-image: url(../chess_icons/bb.svg); }
	.bn { background-image: url(../chess_icons/bn.svg); }
	.wp { background-image: url(../chess_icons/wp.svg); }
	.wk { background-image: url(../chess_icons/wk.svg); }
	.wq { background-image: url(../chess_icons/wq.svg); }
	.wr { background-image: url(../chess_icons/wr.svg); }
	.wb { background-image: url(../chess_icons/wb.svg); }
	.wn { background-image: url(../chess_icons/wn.svg); }


	.board .selected, .board .lastmove, 
	.board .destination, .board .capture {
		position: absolute;
		width: 12.5%;
		height: 12.5%;
		bottom: 0;
		left: 0;
		will-change: transform;
		border-radius: 4px;
		box-sizing: border-box;
		transition: transform 0.1s;
	}
	.board .selected {
		background: var(--lights);
		border: 0.3em solid var(--main-bg);
	}

	.board .lastmove {
		background: var(--main-bg);
		border: 0.3em solid var(--lights);
	}

	.board .destination, .board .capture {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 8;
		cursor: pointer;
	}

		.board .destination::after {
			display: block;
			content: "";
			background: rgb(0 0 0 / 25%);
			border-radius: 100%;
			width: 30%;
			height: 30%;
		}

		.board .capture::after {
			display: block;
			content: "";
			border: 0.5em solid rgb(0 0 0 / 25%);
			border-radius: 100%;
			width: 90%;
			height: 90%;
			box-sizing: border-box;
		}

	/* MODALE */
	.modal_bg {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0);
		z-index: -1;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color ease 0.3s, z-index 0.3s step-end;
	}

		.modal_bg.visible {
			background-color: rgba(0,0,0,0.5);
			z-index: 12;
			transition: background-color ease 0.3s, z-index 0.3s step-start;
		}

	.modal {
		position: absolute;
		background: var(--lights);
		border-radius: 5px;
		display: flex;
		transform: scale(0);
		z-index: 8;
		box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 4%);
		transition: transform ease 0.2s;
	}

		.modal.visible {
			transform: scale(1);
		}

	/* MODALE PROMOZIONE */
	.choose_piece {
		width: 400px;
		height: 100px;
	}

		.choose_piece .piece {
			width: 24%;
			background-position: center;
			background-size: 60% 60%;
			background-repeat: no-repeat;
			z-index: 7;
			margin: 10px;
			border-radius: 4px;
			background-color: transparent;
			transition: background-color ease 0.1s;
		}

			.choose_piece .piece:hover {
				background-color: var(--main-bg);
			}

	/* MODAL CHALLENGE REQUEST AND END GAME MODAL */
	.challenge_request, .end_game {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 30px;
	}

		.challenge_request .buttons {
			padding-top: 15px;
			display: flex;
			justify-content: space-between;
			min-width: 170px;
		}

		.end_game .buttons {
			padding-top: 15px;
			display: flex;
			justify-content: center;
			min-width: 170px;
		}

		.end_game .message {
			font-weight: bold;
			font-size: 20px;
		}

		.end_game .message.victory {
			color: #1fb241;
		}

		.end_game .message.lose {
			color: #c32727;
		}

		.end_game .message.draw {
			color: #656565;
		}

			.end_game .elo {
				color: var(--darker-bg);
				padding: 10px;
				font-weight: bold;
			}


	/* BLAZOR */
	#blazor-error-ui {
		background: lightyellow;
		bottom: 0;
		box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
		display: none;
		left: 0;
		padding: 0.6rem 1.25rem 0.7rem 1.25rem;
		position: fixed;
		width: 100%;
		z-index: 1000;
		box-sizing: border-box;
	}

		#blazor-error-ui .dismiss {
			cursor: pointer;
			position: absolute;
			right: 0.75rem;
			top: 0.5rem;
		}